* {
  font-family:
    "Barlow", "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial, sans-serif;
  font-weight: 500;
  font-size: clamp(1.125rem, 1.25vw, 1.35rem);
}

body {
  --clr-main: #d00017;
  --clr-blck: #0e0e0e;
  --clr-white: #fff;

  background-color: #ddd;
}
main {
  max-width: 1360px;
  padding: 0.33em;
  overflow-x: visible;
  margin: auto;
  padding-bottom: 75px;
}

.introduction {
  margin-top: 1.33em;
  display: grid;
  gap: 1.25em;
}
.header {
  position: relative;
}
.header > img {
  position: absolute;
  right: -3.25%;
  bottom: -10.5%;
  width: 33%;
  max-width: 532px;
  transform: rotate(-3.5deg);
}
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.content p {
  max-width: 48ch;
}
.content > span {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.btn-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}
.btn-wrapper > span {
  display: block;
  cursor: pointer;
  padding: 0.85em 1.5em;
  background-color: var(--clr-main);
  color: var(--clr-white);
  border-radius: 0.25em;
  font-weight: 700;
  font-size: 0.75em;
}
.btn.sort-name {
  border: 2px solid var(--clr-blck);
  background-color: transparent;
  color: var(--clr-blck);
}
.display-ad .tgl-ad,
.display-cw .tgl-cw,
.display-teams .tgl-teams {
  background-color: var(--clr-blck);
}
.btn:hover {
  text-decoration: underline;
}

.creatives {
  margin-top: 4em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 0.5em;
}
.card-creative {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: var(--clr-blck);
    gap: .125em;
}
.card-creative p {
    font-size: clamp(1rem, .75em, 100rem);
}
.card-creative:hover {
    text-decoration: underline;
}
.card-creative img {
  aspect-ratio: 4/5;
  border: 0.5em solid var(--clr-white);
  background-color: #dddddd;
  width: 100%;
  box-shadow: 0px 11px 36px -14px rgba(0, 0, 0, 0.25);
}

body.display-ad .card-creative.group-cw {
  display: none;
}
body.display-cw .card-creative.group-ad {
  display: none;
}
svg {
    fill: var(--clr-main);
}
footer {
  margin-top: 75px;
}
small {
    opacity: .66;
    font-size: .85rem;
}
@media (max-width: 680px) {
  .creatives {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 1440px) {
  main {
    overflow-x: hidden;
  }
  .header > img {
    position: absolute;
    right: -1.25%;
    bottom: -10.5%;
    width: 33%;
    max-width: 532px;
    transform: rotate(-3.5deg);
  }
}
