* {
  font-family:
    "Barlow", "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial, sans-serif;
  font-weight: 500;
  font-size: clamp(1.125rem, 1.75vw, 1.35rem);
}

body {
--clr-main:#d00017;
--clr-blck: #0e0e0e;
--clr-white: #fff;

    padding: .33em;
    background-color: #ddd;
    overflow-x: hidden;
}
main {
    max-width: 1360px;
    margin: auto;
}


.introduction {
    margin-top: 1.33em;
    display: grid;
    gap: 1.25em;
}
.header {
    position: relative;
}
.header > img {
    position: absolute;
    right: -3.25%;
    bottom: -10.5%;
    width: 33%;
    max-width: 532px;
    transform: rotate(-3.5deg);
}
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.content p {
    max-width: 48ch;
}
.content > span {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.btn-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
}
.btn-wrapper > span {
    display: block;
    cursor: pointer;
    padding: .85em 1.5em;
    background-color: var(--clr-main);
    color: var(--clr-white);
    border-radius: .25em;
  font-weight: 700;
    font-size: .75em;
}
.display-ad .tgl-ad,
.display-cw .tgl-cw,
.display-teams .tgl-teams  {
    background-color: var(--clr-blck);
}


.creatives {
    margin-top: 4em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: .5em;
}
.card-creative {
    box-shadow:0px 11px 36px -14px rgba(0, 0, 0, 0.25);
}
.card-creative img {
    aspect-ratio: 4/5;
    border: .5em solid var(--clr-white);
    background-color: var(--clr-main);
    width: 100%;
}
.card-creative.group-cw img {
    background-color: var(--clr-blck);
}
.card-creative.group-teams img {
    background-color: var(--clr-white);
}

body.display-ad .card-creative.group-cw {
    display: none;
}
body.display-cw .card-creative.group-ad {
    display: none;
}

@media (max-width: 680px) {
    .creatives {
        grid-template-columns: 1fr 1fr;
    }
}